header {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(100, 32, 32);
    color: whitesmoke;
    padding: 1.5em;
    text-align: center;
}

header h1 {
    font-size: 4em;
    font-weight: 800;
}

header p {
    font-size: 2em;
}

#img-div {
    width: 100%;
    text-align: center;
    margin: 2.2em;
}

#image {
    border: 2em;
    border-style: solid;
    border-color: rgb(100, 32, 32);
    border-radius: 50%;
}

#img-caption {
    padding-top: 0.5em;
}

section {
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 0 4em;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 800;
    margin: 0.5em 0;
    color: rgb(100, 32, 32);
}

em {
    font-style: italic;
    font-weight: 600;
}

#quote {
    margin: 2em 6em;
    font-style: italic;
}

